*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    box-sizing: border-box;
}

.products__item {
    width: 340px;
}

.card {
    background-color: #f7f7fa;
    padding: 25px;
}

.card__image {
    display: block;
    width: 290px;
    margin-bottom: 30px;
}

.card__description {
    color: #515076;
    width: 287px;
}

.card__category {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #a5a3b9;
    text-transform: uppercase;
}

.card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #515076;
    font-size: 20px;
    line-height: 24px;
}

.card__compound {
    margin-bottom: 20px;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
}

.compound {
    font-size: 13px;
    line-height: 18px;
    width: 252px;
}
.compound__list {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
}

.compound__name {
    display: block;
    margin-bottom: 5px;
}

.catalog__container {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 170px;
}

.catalog__title {
    margin-top: 50px;
    margin-bottom: 80px;
}

.catalog__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 10px 18px;
}

.catalog__buttons button {
    background-color: #f7f7fa;
    cursor: pointer;
    border: 1px solid #a5a3b9;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 12.5px;
}

.catalog__buttons button.active {
    background-color: blue;
}

.footer__container {
    background-color: #3a3a3a;
    color: #ffffff;
    display: flex;
    margin: 5px;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    margin-top: 40px;
}

.footer__columns {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
}

.footer__column-first {
    width: 409px;
    margin-left: 84px;
    margin-right: 132px;
}

.footer__column-second {
    width: 477px;
}

.footer__column-third {
    display: flex;
    flex-direction: column;
    margin-left: 373px;
    width: 178px;
    height: 147px;
    margin-right: 75px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 17px;
}

.footer__menu a {
    color: white;
    text-decoration: none;
}

.footer__column-last {
    display: flex;
    flex-direction: column;
    margin-top: 162px;
    gap: 33px;
    align-items: center;
    margin-bottom: 28px;
}

.footer__product-introduction {
    gap: 16px;
}

.product__icon {
    display: flex;
    flex-direction: row;
    margin-top: 44px;
    gap: 30px;
}

.footer__text {
    text-align: center;
    font-size: 24px;
}

.footer__form {
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    margin-top: 13px;
    justify-content: space-between;
    padding: 14px 20px;
    width: 477px;
}

.footer__input {
    border: none;
    outline: none;
    color: #000000bf;
}

.footer__submit {
    border: none;
    background: transparent;
    border-left: 1px solid #777777;
    padding-left: 20px;
    white-space: nowrap;
}

.footer__link-help {
    font-size: 20px;
}

.linkHelp-gap {
    gap: 23px;
}

.footer__registration {
    padding: 12px 16px;
    border-radius: 10px;
    background-color: red;
    font-size: 14px;
    color: white;
}


.modal {
    position: relative;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
}

.overlay.active {
    display: flex;
}

.footer__label-dateOfBirth {
    background-color: #fff;
    text-align: left;
    padding: 7px 35px;
    border-radius: 10px;
    color: gray;
    font-size: 13px;
    border: 1px solid white;
}

.footer__dateOfBirth {
    text-align: left;
}

.registration__form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 13px;
    box-sizing: border-box;
    padding: 14px 20px;
}

.registration__form input {
    padding: 4px 20px;
    border: solid white;
    border-radius: 10px;
    outline: none;
    color: #000000bf;
}

.registration__form button {
    margin-top: 18px;
    padding: 8px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    color: #000000bf;
}

.registration__button-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
