.card {
    background-color: #F7F7FA;
    padding: 25px;
}

.card__image {
    display: block;
    width: 290px;
    margin-bottom: 30px;
}

.card__name {
    color: #515076;
}

.card__description {
    color: #515076;
    width: 287px;
}

.card__category {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #A5A3B9;
    text-transform: uppercase;
}

.card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #515076;
    font-size: 20px;
    line-height: 24px;
}

.card__compound {
    margin-bottom: 20px;
}