*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
}

.storage-info {
    font-size: 18px;
    color: blue;
    text-align: center;
    padding: 25px;
}

.main {
    display: flex;
    justify-content: center;
}

.catalog__container {
    width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.products {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

/* 2. Настраиваем каждую отдельную карточку */
.product__item {
    width: 340px;
    background-color: #f7f7fa;
    box-sizing: border-box;
    padding: 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
